body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 200px;
    background-color: black;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}
.chat {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: gray;
}
.chat-messages {
    overflow-y: auto;
    max-height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.input-container {
    display: flex;
    align-items: center;
}
.input-container input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.input-container input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.message {
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
}
.textStyle{
    font-size: 0.6rem;
}